@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
  margin: 0 !important;
}


$guardian-blue: #00507f;
$guardian-orange: #e6711b;

$grey-for-text: #7f8c97;

$grey-border: #ddd;

$grey-black: #535c63;

$violet: #951c55;
$light-violet: #b82266;

html {
    overflow-y: scroll; /* if the height computed is not enough allow to scroll */
}

body {
    background-color: #fff;
    border-bottom: 10px solid $violet;
}

#header h2 {
    background-color: $violet;
    margin: 0;
    padding: 3%;
    font-weight: 200;
    color: #fff;
    font-size: 1.3em;
}

#header {
    background-color: $light-violet;
    padding-bottom: 2%;
}

#main {
    
}

#timeline2 {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid $grey-border;
  border-right: 2px solid $grey-border;
}

#timeline2 .t-year {
  flex-basis: 50%;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  border-left: 2px solid $grey-border;
  color: $grey-black;
}

#timeline2 .t-year.active {
  flex-basis: 200%;
  color: $violet;
}


#timeline2 .quarters-header{
  display: flex;
  justify-content: space-around;
}

#timeline2 .t-year .quarters-header .name {
  flex-basis: 20%;    
}

#timeline2 .t-year t-quarter p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#timeline2 .quarters {
  flex-basis: 80%;
  display: none;
  justify-content: space-around;
  font-weight: auto;
}

#timeline2 .t-year.active .quarters {
  display: flex;
}

#timeline2 .t-quarter {
  flex-basis: 100%;
  color: $grey-for-text;
}
#timeline2 .t-quarter.active {
  flex-basis: 100%;
  color: $violet;
}

#timeline2 .t-year .events {
  display: none;
  min-height: 60px;
  max-height: 60px;
  height: 60px;
  overflow: scroll;
}

#timeline2 .t-year.active .events {
  display: block;
  text-align: left;
  margin-left: 1em;
}

.event {
    display:none;
    max-width: 50ch;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey-black;
}

.event.active {
    display: block;
}

.event span.title {
  white-space: nowrap;
}

.event span.title.active {
  color: $violet;
} 

/* correct cursors */

.t-quarter p:hover {
    cursor: pointer;
}

.t-year .name p:hover {
    cursor: pointer;
}

.event span.title:hover {
  cursor:pointer;
}

.card {
  display: none;
  margin: 4%;
  background: white;
  border-bottom: 3px solid $grey-border;
  border-right: 3px solid $grey-border;
}

.card.active {
  display: block;
}

.card .header{
  font-size: 0.9em;
  font-weight: bold;
  color: white; 
  background-color: $guardian-blue;
  letter-spacing: 0.05em;
  padding: 2%;
}

.card .inside{
  padding: 2%;
  color: $grey-for-text;
  border: 1px solid $grey-border;
}

.card .inside p {
  font-size: 0.9em;
}

.card h2{
  font-size: 0.9em;
  font-style: bold;
  color: #535c63; /* between black and nice grey */ 
}

.card li.category {
  font-size: 0.9em;
}

.card li.articles {
  font-size: 0.9em;
}

.card li.articles a {
    text-decoration: none !important;
    border-bottom: 0.0625rem solid #dcdcdc;
    -webkit-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
    color: #005689;
    cursor: pointer;
}





