@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
  margin: 0 !important;
}


$guardian-blue: #00507f;
$guardian-orange: #e6711b;

$grey-for-text: #7f8c97;

$grey-border: #ddd;

$grey-black: #535c63;

$violet: #951c55;
$light-violet: #b82266;

html {
    overflow-y: scroll; /* if the height computed is not enough allow to scroll */
}

body {
    background-color: #fff;
    border-bottom: 10px solid $violet;
}

#header h2 {
    background-color: $violet;
    margin: 0;
    padding: 3%;
    font-weight: 200;
    color: #fff;
    font-size: 1.3em;
}

#header {
    background-color: $light-violet;
    padding-bottom: 2%;
}

#main {
    
}

ul.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0; /* reset webkiet-padding-start which default to 40 */
}

li {
  flex-basis: 100%;
}

li .timestamp {
  text-align: center;
  color: $grey-black;
  font-size: 0.85em;
}

li.year .timestamp {
  font-size: 0.75em;
}

.status {
  display: flex;
  position: relative;
  justify-content: center;
  border-top: 2px solid $grey-border;
}

.status:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 0px;
  height: 10px;
  background-color: $grey-border;
  border: 1px solid $grey-border;
  border-radius: 10px;
}

li.year .status:before {
  width: 10px;
}

.status.hover:before {
  background-color: $guardian-orange;
  border-color: $guardian-orange;
  border-radius: 0px;
  width: 2px;
  height: 12px;
  cursor:pointer;
}

/* reset as not clickable */

li.year .status.hover:before {
  background-color: $grey-border; 
  border-color: $grey-border;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  cursor: auto;
}


.status.active:before {
  top: -5px;
  left: 50%;
  width: 4px;
  height: 2.5em;
  background-color: $guardian-blue;
  border: 0px;
  border-radius: 0px;
}

.status.active.hover:before {
  background-color: $guardian-blue; /* reset */
}

.card {
  display: none;
  margin: 4%;
  background: white;
  border-bottom: 3px solid $grey-border;
  border-right: 3px solid $grey-border;
}

.card.active {
  display: block;
}

.card .header{
  font-size: 1em;
  font-weight: bold;
  color: white; 
  background-color: $guardian-blue;
  letter-spacing: 0.05em;
  padding: 2%;
}

.card .inside{
  padding: 2%;
  color: $grey-for-text;
  border: 1px solid $grey-border;
}

.card .inside p {
  font-size: 0.9em;
}

.card h2{
  font-size: 1em;
  font-style: bold;
  color: #535c63; /* between black and nice grey */ 
}

.card li.category {
  font-size: 0.9em;
}

.card li.articles {
  font-size: 0.9em;
}

.card li.articles a {
    text-decoration: none !important;
    border-bottom: 0.0625rem solid #dcdcdc;
    -webkit-transition: border-color .15s ease-out;
    transition: border-color .15s ease-out;
    color: #005689;
    cursor: pointer;
}





