@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
  margin: 0 !important;
}


$guardian-blue: #00507f;

$grey-for-text: #7f8c97;

$grey-border: #ddd;

$grey-black: #535c63;

ul.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0; /* reset webkiet-padding-start which default to 40 */
}

li {
  flex-basis: 100%;
}

li .timestamp {
  text-align: center;
  color: $grey-black;
  font-size: 0.85em;
}

li.year .timestamp {
  font-size: 1em;
}

.status {
  display: flex;
  position: relative;
  justify-content: center;
  border-top: 2px solid $grey-border;
}

.status:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid $grey-border;
}

.status.hover:before {
  background-color: red;
}

.status.active:before {
  background-color: $guardian-blue;
}

li.year .status:before {
  width: 0px;
}

.card {
  display: none;
  margin: 3%;
  background: white;
  border-bottom: 3px solid $grey-border;
  border-right: 3px solid $grey-border;
}

.card.active {
  display: block;
}

.card .header{
  font-size: 1.1em;
  font-weight: bold;
  color: white; 
  background-color: $guardian-blue;
  padding: 3%;
}

.card .inside{
  padding: 3%;
  color: $grey-for-text;
}

.card h2{
  font-size: 1em;
  font-style: bold;
  color: #535c63; /* between black and nice grey */ 
}
